@media only screen and (max-width: 850px){
  .navbar .menu {
      grid-column: 3/8;
      padding-top: 2rem;
      justify-content: space-around;
      font-weight: bold;
  }
  
}

@media only screen and (max-width: 600px)  { 
  .navbar {
    position: relative;
  }

  .navbar .menu-bar {
    padding-top:1rem;
    display: block;
    grid-column: 8/9;
    cursor: pointer;
  }

  .navbar .menu-bar img {
    display: flex;
    width: 50px;
    height: 50px;
  }

  .navbar .menu {
    position: absolute;
    width: 120%;
    height: 70vh;
    display: grid;
    justify-content: space-around;
    background-color: var(--terciario);
    box-shadow:  20px 20px 60px #021a0e,
             -20px -20px 90px #042327;
    margin-top: 3.8rem;
    opacity: 0.8;
    border-radius: 15px 0px 0px 15px;
    transform: translateX(150%);
    transition: all 1s;
  }
  .navbar .menu a{
    color: var(--white);
  }

  .navbar .menu-toggle {
    transform: translateX(10%);
  }

}